* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
  background-color: #6a5acd;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.month-name {
  background-color: #ff4500;
  color: #ffffff;
  padding: 10px;
  font-weight: bold;
  font-size: 30px;
}

.day-name {
  padding: 20px;
  font-size: 20px;
  color: #a9a9a9;
}

.day-number {
  font-size: 80px;
  font-weight: bold;
}

.year {
  color: #a9a9a9;
  padding: 20px;
  font-weight: 500;
  font-size: 20px;
}

.time{
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #777;
}